@model Employee.Models.send1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>send1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpNane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report_To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report_To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resigned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resigned_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resigned_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
